.lowerPage {
   padding: 0px 40px;
   margin: 0px auto;
   min-width: 1024px;
   max-width: 1920px;
   box-sizing: border-box;
}


.addNewThings {
   margin-bottom: 24px;
   margin-right: -12px;
   margin-left: -12px;
   display: flex;
   flex-wrap: nowrap;
   box-sizing: border-box;
}
.newThing {
   margin-left: 0%;
   padding-left: 12px;
   padding-right: 12px;
   width: 32%;
   display: block;
   flex: 0 0 auto;
   margin-bottom: 24px;
   cursor: pointer;
}
.imgCont {
   background-color: rgb(226, 226, 226);
   padding-top: 55.9702%;
   width: 100%;
   margin-bottom: 8px;
   height: 0px;
   position: relative;
}
.imgThing {
   width: 100%;
   position: absolute;
   left: 0px;
   top: 0px;
}
.bigPThing {
   font-size: 28px;
   line-height: 26px;
   font-weight: 700;
}
.smallPThing {
   margin-top: 8px;
   text-decoration: underline;
   display: block;
   line-height: 20px;
   font-size: 16px;
   font-weight: 500;
   font-family: UberMoveText, sans-serif;
}
footer {
   margin-top: 80px;
   padding: 54px 0 88px;
   background-color: #000;  
}
.footerWrapper {
   margin: 0px 30px;

}
.footerCtn {
   border-bottom: 2px solid var(--grey);
   display: flex;
   justify-content: space-between;
   height: 290px;
   min-width: 1024px;
   max-width: 1920px;
}
.appstores {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-direction: column;
}
.logo {
   margin-bottom: 64px;
   height: 24px;
   width: auto; 
}
.footerColumns {
   display: flex;
   flex-direction: column;
}
.footerColumns > ul  {
   font-weight: normal;
   font-size: 16px;
   color: #FFF;
   font-family: UberMoveText, sans-serif;
   line-height: 24px;
   list-style: none;
}
.appstores > img {
   height: 40px;
}
.aInList {
   color: #FFF;
   margin-bottom: 0px;
   font-weight: normal;
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: left;
}

.logaStopka {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items:stretch;
   height: 250px;
   flex: 2 1 0%;
}

.footerColumns {
   height: 250px;
   width: 50vh;
}
.footerColumns > ul  {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.footerColumns > ul > li {
   line-height: 36px;
}
.footerInfo {
   margin-top: 36px;
   color: white;
   justify-content: space-between;
}
.footerInfo a:hover,
.usingInfo a:hover {
   text-decoration: underline;
}
.toWhite {
   filter: invert(100%) sepia(13%) saturate(7493%) hue-rotate(165deg) brightness(122%) contrast(110%);
   height: 16px;
   width: 16px;
}
.toWhiteSvg {
   height: 16px;
   width: 16px;
}
.socialMedia {
   display: flex;
   justify-content: space-between;
   width: 100px;
}
.usingInfo {
   justify-content: right;
   gap: 30px;
   color: white;
}